body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
    color: #333;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}




.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}
.forgot-password {
    text-align: right;
    margin-top: 0.5rem;
}
.forgot-password a {
    color: #666;
    text-decoration: none;
}
.forgot-password a:hover {
    text-decoration: underline;
}