.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    padding: 2rem;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
}

.headerRegister {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
}

.closeRegister {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-bottom: 15px;
}

.h1Register {
    text-align: center;
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.formRegister {
    display: flex;
    flex-direction: column;
}

.labelRegister {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.inputRegister {
    padding: 0.4rem;
    margin-top: 0.3rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 0.9rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: beige;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s;
    font-size: 0.9rem;
}

button:hover {
    background-color: #e6d9b8;
}

.or {
    text-align: center;
}

.buttonRegister {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background-color: #3b82f6;
    color: #333;
    padding: 0.6rem 2.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    transition: background-color 0.2s ease;
}

.buttonRegister svg {
    height: 100%;
}

.cursor-not-allowed {
    cursor: not-allowed;
    opacity: 0.5;
}

.buttonRegister2 {
    background-color: transparent;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #2563eb;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.ReactModal__Content {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    margin: auto;
    border: none !important;
    background: transparent !important;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 0 !important;
}
